.suncor .main{
    background-image: none;
}

main{
    margin-top: 100px;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #384147;
  }


.casestudy-hero{
    width: 100%;
    height: 88vh;
    background-image: url("casestudies/suncor/After.jpg");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.casestudy-hero h3{
    text-align: left;
    margin-left: 48vh;
    padding: 20px 40px;    
}

.casestudy-hero h3:first-of-type {
    margin-top: 2vh;    
    margin-bottom: -2vh;  
}

.casestudy-hero h3:last-of-type {
    margin-top: 0;     
}

/* PROJECT */

.title{
    margin-top: 10vh;
    margin-left: 35vh;
}

.summary{
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 42px;
    gap: 180px;
    margin-left: 32vh;
}

.column1, .column2 {
    flex: 1;
    min-width: 0;
}

.summary h2, .summary h3, .summary p {
    margin-bottom: 20px;
}