/* MEDIA QUERIES */
  
  /* MOBILE */

  @media screen and (max-width: 768px) { 

    h1{
      font-size: 22px;
    }

    h2{
      font-size: 22px;
    }

    h3{
      font-size: 18px;
    }

    p{
      font-size: 14px;
    }

    main {
      height: 64vh;
      background-size: 80% auto;
  }


    .hero-text h2{
      font-size: 26px;
      line-height: 28px;
    }

    .hero-text{
      text-align: left;
      margin-top: 70vh;
      margin-left: 10vh;
    }


/* HAMBURGER MENU */

.mobile-menu{
  display: block;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.topnav #myLinks{
  display: none;
}

.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.active{
  background-color: aqua;
  color: white;
}

/* NAV - HIDDEN */

.nav-links{
  display: none;
}

  .content{
    align-items: center;
    justify-content: center;
  }

  .info{
    flex-direction: column-reverse;
    align-items: center;
    padding: 50px;
  }

  .panel {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .video {
      order: 1;
  }

  .video-content {
      order: 2;
      text-align: center;
  }

  .video iframe {
      width: 100%;
  }


/* FOOTER - MOBILE */
.footer{
  height: 44vh;
}

.footer .footer-row {
  justify-content: space-between;
  gap: 3rem; 
  margin-left: 0vh; 
  margin-right: 6vh;
  padding: 20px; 
}

.footer-col {
  text-align: center;
  margin-bottom: 20px;
}

.footer .copyright {
  position: static;
  text-align: center; 
}

.copyright p {
  font-size: 1.2rem
}

}

/* TABLET */

@media screen and (min-width: 769px) and (max-width: 1024px) {


  h1{
    font-size: 22px;
  }

  h2{
    font-size: 22px;
  }

  h3{
    font-size: 18px;
  }

  p{
    font-size: 14px;
  }

.nav-links{
  display: flex;
  left: 62vh;
}

main{
  height: 64vh;
  background-size: 64% auto;
}

  .hero-text h2{
    font-size: 26px;
    line-height: 28px;
  }

  .hero-text{
    text-align: left;
    margin-top: 68vh;
    margin-left: 24vh;
  }

.projects{
  margin-top: 0vh;
}
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 90%;
  }

  .centered img {
    max-width: 300px;
  }

  .footer{
    height: 36vh;
  }

  .footer .footer-row {
    justify-content: space-between;
    gap: 4rem; 
    margin-left: 0vh; 
    margin-right: 4vh;
    padding: 20px; 
  }

  .footer .footer-col h4{
    font-size: 18px;
  }

  .footer-col ul li a {
    font-size: 16px;
  }
  
  
  .footer .copyright {
    position: absolute;
    top: 26vh;
    left: 8vh;
    font-size: 16px; 
  }

  .copyright p{
    line-height: 2vh;
  }
}


/* DESKTOP */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

  main{
    height: 64vh;
    background-size: 64% auto;
  }
  
    .hero-text h2{
      font-size: 26px;
      line-height: 28px;
    }
  
    .hero-text{
      text-align: left;
      margin-top: 68vh;
      margin-left: 24vh;
    }



  .panel {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: center;
  }

  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    width: 70%;
  }

  .centered img {
    max-width: 280px;
  }

  .video {
    flex: 1;
}

.video-content {
    flex: 1; 
}

.video iframe {
    width: 100%;
    height: 100%; 
}

/* FOOTER */

.logo{
  margin-left: 2vh;
  margin-top: 4vh;
}

.footer{
  height: 36vh;
}

.footer .footer-row {
  justify-content: space-between;
  gap: 1rem; 
  margin-left: 0vh; 
  margin-right: 28vh;
  padding: 20px; 
}

.footer .footer-col h4{
  font-size: 3vh;
}

.footer-col ul li a {
  font-size: 2vh;
}


.footer .copyright {
  position: absolute;
  top: 26vh;
  left: 8vh;
}

.copyright p{
  font-size: 1.4vh;
  line-height: 16px;
}

}