@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color:rgb(255, 255, 255);
}
h1{
    font-size: 64px;
    line-height: 64px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h2{
    font-size: 62px;
    line-height: 64px;
    color: rgb(60, 93, 170);
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h3{
    font-size: 32px;
    color: rgb(69, 114, 218);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h4{
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


p{
    font-size: 22px;
    line-height: 44px;
    color: rgb(21, 20, 22);
    font-family:'Poppins-thin', sans-serif;
    font-weight: 500;
}

/*Hamburger Menu - Mobile */
.mobile-menu {
    display: none;
}

/* NAV LINKS */
.nav-links {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
    list-style: none;
    display: flex;
    gap: 4rem;
    position: absolute;
    top: 1.2vh;
    left: 50%;
    transform: translatex(-50%);
}

.nav-links a {
  text-decoration: none;
  color: rgb(60, 93, 170);
}

.nav-links a:hover {
  color: rgb(255, 96, 194);
}

.nav-links a.active{
  color: rgb(255, 96, 194);
  background-color: transparent;
}
  
  /*HERO SECTION */
  header{
    padding: 32px;
  }

  main{
    width: 100%;
    height: 88vh;
    background-color:rgb(203, 227, 255);
    background-image: url("assets/KhoitheFish_Hero.png");
    background-size: 44% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-text{
    margin-top: 20vh;
    max-width: 800px;
    height: 120vh;
    opacity: 0;
    transform: translateY(50px);
    animation: float-in 1.2s ease-out forwards;
  }  

  @keyframes float-in {
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  .wave{
    margin-top: -12vh;
    margin-bottom: 66vh;
  }
  
  .wave video{
    max-width: 580px;
    width: 100%;
  }

  .logo img{
    width: 100%;
    max-width: 120px;
    margin-left: 4vh;
  }

  /* PROJECTS */

  .projects{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 24vh;
    margin-right: 24vh;
  }

  .overlay{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .overlay video{
    width: 100%;
    height: auto;
  }

  .visual{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .visual img{
    width: 80%;
    height: auto;
  }


  /* CONTENT SPLIT */

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
  }

  .split-left, .split-right{
    flex: 1;
  }

  .split-left{
    padding-right: 8px;
  }

  .split-left p {
    padding-right: 8px;
    margin-top: 62px;
}

.split-right{
    padding-left: 10px;
}

.centered {
    text-align: center;
}

.centered img{
    width: 100%;
    max-width: 420px;
    border-radius: 50%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.btn-alert{
    background: #35383a;
    color: aliceblue;
    padding: 24px 82px;
    border: 1px solid #1d1d1d;
    border-radius: 32px;
    font-size: 18px;
}

.btn-alert:hover {
    background: rgb(60, 93, 170);
    color: white;
  }

  .otherinfo{
      text-align: left;
      padding-left: 12vh;
      padding-right: 22vh;
      margin-bottom: 12vh;
  }

  /* CONTENT */

  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    list-style: none;
}

.card{
    background-color: #ffffff;
    border: 1px solid #dddd;
    border-radius: 8px;
    width: auto;
    max-width: 480px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
  }
  
  img {
    height: auto;
    width: 100%;
  }

/* ACCORDION */
  
.accordion {
  background-color: #0c171f;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  height: 8vh;
  border: none;
  outline: none;
  font-size: 18px;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.active,
.accordion:hover {
  background-color: rgb(1, 17, 70);
  color: #ffffff;
}

.panel {
  background-color: rgb(203, 227, 255);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.video-content {
  text-align: center;
  margin-left: 12vh;
  margin-right: 12vh;
  margin-bottom: 12vh;
}

.video {
  position: relative;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  width: 100%;
  max-width: 896px;
  height: 504px;
}


/* FOOTER */

.footer {
  position: relative;
  background-color: #232328;
  color: #ffffff;
  padding: 10px;
  height: 34vh;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 22rem;
  margin-left: 10vh;
  margin-right: 12vh;  
  padding: 30px;
}

.logo img {
  width: 120px;
  margin-right: 20px;
}

.footer-row .footer-col h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 40px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 40px;
}

.footer-col ul li a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer-col ul li a:hover {
  color: #3c6fdd;
}

.footer p {
  color: #ffffff;
}

.footer .copyright {
  position: absolute;
  top: 26vh;
  left: 18vh;
  color: #ffffff;
}

.copyright p{
font-size: 1.4vh;
line-height: 2vh;
}
